.containerFooter{
    width: 110%;
    height: 80px;
background-color: rgba(128, 128, 128, 0.209);
display: flex;
justify-content: space-evenly;
align-items: center;
position: fixed;
bottom: 0;
z-index: 50;
.colorLink{
  color: rgb(255, 255, 255);
}
.selectedLink{
  color: rgb(40,242,252);
}
}
.containerFooter a:not(:last-child){
  // color: white;
  scale: 2;
}
.containerFooter a:hover{
  color: rgb(85, 85, 85);
}
.iconCv{
  border-radius: .5em;
}
.iconCv:hover{
  opacity: 35%;
}
.containerFooter a:hover{
  color: rgb(85, 85, 85);
}


  @media (min-width: 768px){
    .containerFooter{
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 15%;
        margin: 0 auto;
        height: 50%;
        width: 62px;
        border-radius: 2em;
        left: 90%;
      }
  }