.imgBg {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.title {
  color: white;
  text-align: center;
  margin: .5em auto;
  font-size: 48px;
}
.pTitle{
  color: white;
  text-align: center;
  margin: 0 auto 1.5em auto;
}
.containerSliderCard {
  position: relative;
  height: 40%;
  width: 20%;
  margin: 0 auto;
  min-width: 190px;
}
.containerSlider {
  display: none;
}
.imageLeft {
  display: none;
}
.containerSliderCard{
  animation: verticalScroll3 1.5s ease-in forwards;
  opacity: 0;
}
@keyframes verticalScroll3 {
  0%{
    transform: translateY(4em) ;
  }
  100%{
transform: translateY(0);
opacity: 1;
  }
 }
@media (min-width: 1024px) {
  .containerSliderCard {
    display: none;
  }
  .containerSliderCard {
    position: absolute;
    height: 40%;
    width: 15%;
    bottom: 8em;
    left: 10em;
  }
  .containerSlider {
    display: contents;
  }
  .imageLeft {
    display: initial;
    position: absolute;
    top: 20%;
    margin-left: 3em;
    animation: scrollInAndOut 5s 8s ease-in-out forwards;
    opacity: 0;
  }
  .containerWorks {
    height: 100%;
  }
}
@keyframes scrollInAndOut {
  0% {
    transform: translateX(300vh);
  }
  40% {
    transform: translateX(0px);
  }
  70% {
    transform: translateX(calc(20% - 10px));
    opacity: 1;
  }
  100% {
    transform: translateX(-150vh);
  }
}
